<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>

    </style>
</head>

<body>
    <h3>{{msg}}</h3>
    <br><br><br>
    <div>
        <p>页面将在<span>5</span>秒后跳转到登录</p>
    </div>
    <hr>
    <a href="/admin/login">点击立即登录</a>

    <script>
        let num = 5;
        let timer = setInterval(() => {
            if (num == 1) {
                window.location.href = '/admin/login'
            }
            num--
            document.querySelector('span').innerText = num
        }, 1000);
    </script>
</body>

</html>